body{
    background-color: gray;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    text-align: center;
    font-size: 50px;
    color: yellow;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}